    .container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
}

#paginationContainer {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

#paginationContainer button {
    padding: 10px 15px;
    margin: 0 5px;
    background-color: #2b3d68;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#paginationContainer button:hover {
    background-color: #1c2850;
}

#pageNumbers button{
    background-color: grey;
    padding: 10px ;
}